version: "3"
services:
  appserver:
    container_name: server
    image: arielkaplan/project_chronora:project_chronora-001
    ports:
      - 8080:8080
    depends_on:
      - db
  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
      - 5432:5432
    volumes:
      - ./postgresdata:/var/lib/postgresql/
    privileged: true















